*{
    margin: 0;
    padding:0;
}
#id{
    width: 100%;
    height: 100%;
}
.nav{
    width: 100%;
    height: 40px;
    background-color: #333333;
}
.nav-con{
    width:1226px;
    height: 40px;
    margin: 0 auto;
}
.nav-left{
    width: 705px;
    height: 40px;
    float: left;
}
.nav-left>ul >li{
    float: left;
    list-style: none;
    font-size: 12px;
    padding:0 4px;
    line-height:40px;
    color: #b0b0b0;
    
}

.nav-info{
    width: 143px;
    height: 40px;
    float: right;
}
.nav-info>ul>li{
    float: left;
    list-style: none;
    font-size: 12px;
    padding:0 4px;
    line-height:40px;
    color: #b0b0b0;
}
.nav-cart{
    width: 120px;
    height: 40px;
    float: right;
}
.nav-cart>a{
    display: block;
    font-size: 12px;
    color: #b0b0b0;
    line-height:40px;
    text-align: center;
}
.head{
    width: 100%;
    background-color: bisque
}
.head-con{
    width: 1226px;
    height: 100px;;
    background-color:saddlebrown;
    margin: 0 auto;
}
.head-logo{
 width: 62px;
 height: 55px;
 float: left;
 background: #b0b0b0;
 margin-top: 22px;
}
.head-nav{
width: 850px;
height: 100px;
background-color: azure;
float: left;
}
.head-nav>ul>li{
    list-style: none;
    float:left;
    padding:0 10px;
    line-height: 100px;
    font-size: 16px;
    color: #333;
}
.head-serch{
width: 296px;
height: 50px;
float: right;
background-color: blue;
margin-top: 25px;
}
.head-bottom{
 width: 100%;
 height: 229px;
 background: #b0b0b0;
 text-align: center; 
 display: none;
}
.head-bottom-con{
    width: 1226px;
    height: 229px;
    margin: 0 auto;
    background-color: plum;
}
.head-bottom-con>ul>li{
    float:left;
    list-style: none;
   margin-top: 40px;
   border-right: 1px solid #ccc;
}  
.banner{
    width: 100%;
    height: 670px;
    background-color: #fff;
}
.banner-top{
    width: 1226px;
    height: 460px;
    margin: 0 auto;
    position: relative;
}
.banner-center{
    width: 234px;
    height: 460px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left:0;
}
.banner-center>ul{
   padding: 20px 0; 
    float: left;
}
.banner-center>ul>li{
    list-style: none;  
    height: 42px; 
    padding-left: 30px;
    font-size:14px;
    color: #fff;
   
}
.banner-center>ol{
    padding: 20px 0;
    float: right;
}
.banner-center>ol>li{
    list-style: none;  
    height: 42px;
    padding-right: 20px; 
    font-size:14px;
    color: #fff;
}
.banner-bottom{
    width: 1226px;
    height: 170px;
    margin: 0 auto;
    margin-top: 14px;
}
.banner-bottom-left{
    width: 234px;
    height: 170px;
    float: left;
    background-color: #5f5750;
   
}
.banner-bottom-left>ul>li{
    width: 76px;
    height: 82px;
    list-style: none;
   float: left;
  padding-top:3px; 
  padding-right:3px; 
  
 
}
.banner-bottom-left>ul>li>a{
    width: 70px;
    height: 64px;
    display:block;
    text-decoration: none;
     padding-top: 18px;
     text-align: center;
     font-size:12px;
     color: #333;
     border-top:1px solid  rgb(0, 0,0,0.2);
     border-right:1px solid rgb(0, 0,0,0.2);
     
}
.banner-bottom-left>ul>li>a>img{
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
}
.banner-bottom-center1{
    width: 316px;
    height: 170px;
    float: left;
    margin-left: 14px;
}
.banner-bottom-center1>img{
    width: 316px;
    height: 170px;
}

.banner-bottom-center2{
    width: 316px;
    height: 170px;
    float: left;
    margin-left: 15px;
}
.banner-bottom-center2>img{
    width: 316px;
    height: 170px;
}

.banner-bottom-right{
    width: 316px;
    height: 170px;
    float: left;
    margin-left: 15px;
}
.banner-bottom-right>img{
    width: 316px;
    height: 170px;
}
.main{
    width: 100%;
    height: 6035px;
    background: #5f5750;
}
.main-con{
    width: 1226px;
    height: 6035px;
    background-color: aqua;
    margin: 0 auto;
}
.main-title{
    width: 1226px; 
    height: 58px;
    margin-top: 20px;
   
}
 .main-title>p{
    font-size:22px;
    color: #333;
    line-height:58px; 
}
.main-maiosha{
    width: 1226px; 
    height: 340px;
    background-color: purple;
}
.miaosha-time{
   width: 234px;
   height: 340px;
   background-color: antiquewhite; 
   float: left;
}
.miaosha-pro{
    width: 234px;
    height: 339px;
    background-color: palegreen; 
    float: left;
    margin-left: 14px;
 }
 .miaosha-pro>img{
     width: 160px;
     height: 160px;
    margin-left: 40px;
    margin-top: 40px;
 }
 .miaosha-pro>h3{
     font-size:14px;
     text-align: center;

 }
 .miaosha-pro>p{
    font-size:12px;
    text-align: center;
    
}
.miaosha-pro>p>span{
    color: #ff6709;
}
.miaosha-pro>p>del{
    color: #b0b0b0;
}
.main-img{
    width: 1226px; 
    height: 120px;
    margin-top: 41px;
}
.main-list{
    width: 1226px; 
    height: 614px;
    background-color: pink;
 
}

.list-left{
    width: 234px;
    height: 614px;
    float: left;
}
.list-left>div{
    margin-top: 7px;
  
}
.list-right{
    width: 992px;
    height: 614px;
    float: left;
}
.list-right>div{
    width: 234px;
    height: 300px;
    float: left;
    margin-left: 14px;
    margin-top: 7px;
    background-color: #fff;
    
}
.list-right>div>img{
    width: 160px;
    height: 160px;
    margin-left: 30px;
}
.list-right>div>h3{
    font-size:14px;
    text-align: center;

}
.list-right>div>p{
   font-size:12px;
   text-align: center;
   
}
.list-right>div>p>span{
   color: #ff6709;
}
.list-intem{
    width: 234px;
    height: 138px;
    background-color:palegreen;
}

.main-video{
    width: 1226px; 
    height: 285px;
    background-color:#fff;
}
.main-video>div{
    width: 296px;
    height: 285px;
    float: left;
    margin-right: 10px;
}
.main-video>div>video{
    width: 296px;
    height: 180px;

}
.main-video>div>p{
    width: 296px;
    height: 21px;
    text-align: center;
    font-size:14px;
    color: #333;
    margin-top: 20px;
}
.footer{
    width: 100%;
    height: 272px;
    background: #ff6709;
}
.footer-con{
    width: 1226px;
    height: 272px;
    margin: 0 auto;
    background-color: aqua;
}
.footer-top{
    width: 1226px;
    height: 80px;
    background: #b0b0b0;
}
.footer-top>ul>li{
    list-style: none;
    width: 243px;
    height: 25px;
    float: left;
    font-size:16px;
    line-height: 25px;
    text-align: center;
    margin-top: 27px;
}
.footer-top>ul>li>a{
    display: block;
   text-decoration: none;
   float: left;
   width: 126px;
   height: 17px;
   margin-left: 58px;
   color: #616161;
  
   
}
.footer-bottom{
    width: 1226px;
    height: 192px;
    background: purple;
}









